body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: rgb(40, 40, 40); /* Default background */
}

.cursor-light {
    position: fixed;
    width: 200px; /* Smaller size for subtle effect */
    height: 200px;
    background: radial-gradient(circle, rgba(154, 163, 175, 0.2) 0%, rgba(2, 12, 27, 0) 30%);
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.2s ease-out;
}